* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

.wrap {
  max-width: 1900px;
  margin: 0 auto;
  background-color: black;
}

.box-top {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 999999;
}

.logo {
  width: 111px;
  height: 55px;
}

nav {
  width: 50%;
  padding: 10px;
}

.navegation {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

li a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: #9767a9;
  transition: 150ms;
}

li a:hover {
  font-weight: 800;
}

.box {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

form {
  display: flex;
}

form img {
  position: relative;
  left: 30px;
}

form input {
  border-radius: 50px 50px 50px 50px;
  border: 3px solid #9767a9;
  height: 40px;
  width: 13.3rem;
}

.rede-social {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
